.work_container {
  display: flex;
}

@media only screen and (min-width: 680px) {
  .work_container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .work_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;
  }

  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    z-index: -5;
  }

  .layer1 {
    background-image: url('../../public/images/blue-waves.svg');
  }
  .spacer2 {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
  }

  .layer2 {
    background-image: url('../../public/images/blue-waves2.svg');
  }

  .steps {
    position: absolute;
    left: 30%;

    aspect-ratio: 960/675;
    width: 36%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    // z-index: -1;
  }

  .step-layer {
    background-image: url('../../public/images/steps.svg');
  }
}
